@charset "utf-8";
/* font s */
@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Balgin';
  src: url(../font/StudioSun-BalginBlack.woff2) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Thunder';
  src: url(../font/Thunder-BlackLC.woff2) format('woff');
  font-weight: 500;
}
/* font e */
:root {
  /* color */
  --point-color: #006450;
  --sub-color: #F7CED7;
  --green: #006450;
  --yellow: #FCDC3E;
  --pink: #F7CED7;
  --darkpink: #CE0F69;
  --lightblue: #0b3a94;
  --blue: #88c9d8;
  --link-btn-bd: #FCDC3E;
  --link-btn-bg: transparent;
  --link-btn-txt: #FCDC3E;
  /* numbers */
  --footer-height: 600px;
  /* fonts */
  --pretendard: 'pretendard', sans-serif;
  --balgin: 'Balgin', sans-serif;
  --thunder: 'Thunder', sans-serif;
}
/* reset css s */
* {margin :0; padding: 0; font: inherit; color: inherit;}
*, :after, :before {box-sizing: border-box; flex-shrink: 0;}
:root {-webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1.5; overflow-wrap: break-word; word-break: break-word; tab-size: 4}
html, body {height: 100%;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
button {background: none; border: 0; cursor: pointer;}
a {text-decoration: none}
table {border-collapse: collapse; border-spacing: 0;}
ul, ol {list-style: none;}
address, em {font-style: normal;}
fieldset {border: 0;}
html {/* scroll-behavior: smooth; */ font-family: var(--pretendard);}
iframe {overflow: hidden; margin: 0; padding: 0; border: 0;}
/* reset css e */
/* common css s */
body.on {overflow: hidden;}
.blind {position: absolute; overflow: hidden; width: 1px; height: 1px; clip: rect(0,0,0,0); margin: -1px;}
.skip {width: 100%; height: 0; top: 0; left: 0;}
.skip a {display: block; overflow: hidden; position: absolute; top: 0; text-indent: -9999px;}
.skip a:focus, .skip a:active {display: block; position: absolute;  top: 0;  width: 100%; z-index: 9999;  padding: 10px 0; font-size: 15px; line-height: 14px; text-indent: 0; text-align: center; color: #fff; background: #444;}
.skip a:focus-visible {outline: 3px dashed #000; outline-offset: -3px;}

.balgin {font-family: var(--balgin);}
.thunder {font-family: var(--thunder);}

.link-btn {display: inline-flex; justify-content: center; align-items: center; padding: 4px 16px; border: 1px solid var(--link-btn-bd); color: var(--link-btn-txt); background-color: var(--link-btn-bg); border-radius: 5px; transition: 0.5s;}
.link-btn:hover, .link-btn:focus {--link-btn-bg: #FCDC3E; --link-btn-txt: #006450;}
.bold {font-weight: bold;}
@media screen and (min-width: 1200px) {
  body {font-size: 16px;}
}
/* common css e */