@charset "utf-8";
/* 서브 레이아웃 s */
.sub-container {position: relative; z-index: 1; overflow: hidden; background-color: var(--point-color);}
.sub-top {display: flex; justify-content: center; align-items: center; height: 240px; padding-top: 55px;}
.sub-title {color: var(--yellow); font-family: var(--balgin); font-size: clamp(32px, 10vw, 72px);}
.sub-section {padding: 60px 0;}
/* 서브 레이아웃 e */
/* recipe grid s */
.grid-list {display: grid; grid-template-columns: repeat(1,1fr); color: var(--yellow);}
.grid-list .img-area>img {width: 100%;}
.grid-list .text-area {padding: 50px 20px;}
.grid-list .link-btn-wrap {margin-top: 1rem;}
@media screen and (min-width: 500px) {
    .grid-list {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 900px) {
    .grid-list {grid-template-columns: repeat(3, 1fr);}
    .grid-list .item:first-child {grid-column: 1 / span 3;}
}
/* recipe grid e */