@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);
@import url('./robot-ani.css');

/* 초기화 */
html,
body {
  /* 보이는 화면만큼 높이값 셋팅 */
  height: 100%;
  scroll-behavior: smooth;
}

/* 공사중 표시 */
/* body * {
  outline: 2px dashed yellow;
} */

body {
  /* 배경이미지 */
  background: url(../images/bg.jpg)
    no-repeat fixed top/cover;
  /* 커서 이미지로 변경하기 */
  /* cursor: url(../images/favicon.png),
    auto; */
}
/************* 1. 상단영역 *************/
/* 1-1.로고 */
h1.logo{
  position: fixed;
  /* top: 0;
  left: 0; */
  top: calc(50% - 10vw);
  left: calc(50% - 10vw);
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  z-index: 999;
  background: pink url(../images/robot_03.png) no-repeat center/auto 100%;
  box-shadow: 
  inset 0 0 20px 5px #000,
  0 0 20px 5px aqua;

  /* 글자설정 */
  text-align: center;
  line-height: 20vw;
  font-family: 'Orbitron';
  font-size: 3.5vw;
  color: lightgreen;
  text-shadow: 0 0 10px #000;
}

/* 1-2.탑이동버튼 */
.btn-top{
  position: fixed;
  bottom: 3vw;
  right: 3vw;

  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: 5px outset #fff;
  background-color: #ccc;

  z-index: 10;
}

/* a요소 확장 */
.btn-top a{
  display: block;
  width: 100%;
  height: 100%;
  
  /* 글자셋팅 */
  color: blue;
  text-decoration: none;
  font: 1.4vw/5vw 'Black Ops One';
  /* font: 스두크/줄체; */
}
/* 오버시 설정 */
.btn-top:hover{
  background-color: #ff0;
  /* outset 나온버튼, inset 들어간 버튼 */
  border-style: inset;
}
.btn-top:hover a{
  color: #f00;
}

/************* 2. 메인영역 *************/
/* 메인영역 속박스 */
.main-area{
  padding-top: 100vh;
}
/* 2-1. 로봇박스 */
.robot-box {
    /* 로봇 fixed변경! */
    position: fixed;
    top: -10%;
    left: 84%;
    /* 중앙이동 */
    translate: -50%;
    /* 축소 */
    scale: 0.3;
    /* 트랜스폼 기준변경: center center -> center 20% */
    transform-origin: center 40%;
    padding: 100px 0 700px;
}
/* 2-1-0. 로봇 말풍선 */
.link-title{
  position: absolute;
  top: -5vw;
  left: 50%;
  /* 로봇머리로 부터 위치 일정하게 */
  transform: translateX(200px) scale(0);
  /* 로봇쪽에서 커지게 하기위해
  트랜스폼 기준 변경(왼쪽아래) */
  transform-origin: left bottom;
  width: 40vw;
  height: 20vw;

  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 20vw;

  text-decoration: none;
  color: orangered;
  font-size: 5vw;

  border: 10px dashed orangered;
  box-sizing: border-box;

}
/* 가상요소로 삼각형 만들기 */
.link-title::after{
  content: '';
  position: absolute;
  top: 62.7%;
  left: -9%;
  /* 왜%인가? 유동적인 부모를 기준한 위치값이다! */
  transform: rotate(43deg);
  /* 가로,세로 크기 0 */
  width: 0;
  height: 0;
  /* 보더탑 크기+색 설정 */
  border-top: 11vw solid orangered;
  /* 양쪽보더 크기+투명색 설정 */
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
}
/* 로봇 말풍선 오버시 */
.link-title:hover{
  color: #fff;
  background-image: 
  radial-gradient(circle,red 10%,blue 30%,yellow);
}

/* 
    [ 원형 그라데이션 ]

    - 기본형, 영역지정형은 박스모양을 따라감!

    1) 기본형: 중앙중심, 모양은 박스크기에 맞춤
    background-image: 
        radial-gradient(색1,색2,색3,...);
    - 시작색으로부터 중앙에서 시작됨

    2) 영역 지정형:
    background-image: 
        radial-gradient(색1 몇%,색2 몇%,색3 몇%,...);
    - 색 뒤에 한칸 띄고 %수치로 영역지정함

    3) 그라데이션 모양을 원형으로 사용할 경우:
    background-image: 
        radial-gradient(circle,색1,색2,색3,...);
    - circle 키워드를 첫번째에 사용함

    4) 영역옵션 지정형: 중심점 변경
    background-image: 
        radial-gradient(옵션 at 가로위치 세로위치,색1,색2,색3,...);
    - 옵션4가지 : closest-side / farthest-side
                closest-corner / farthest-corner
                ___________________________________
                - closest는 중심점으로 좀더 모아진것
                - farthest는 중심점에서 멀리 퍼진것
                - side와 corner는 경계선과 끝부분옵션임
    - 가로위치, 세로위치 (중심점) - 단위는 px / %
*/

/* 2-1-1. 로봇머리 */
.head {
  /* 부모자격 relative : 자식요소 앱솔루트 */
  position: relative;
  /* 몸통보다위 */
  z-index: 1;
  /* 중앙정렬박스 : 마.영.오! */
  margin: 0 auto;
  /* margin-top: 250px; */
  width: 200px;
  height: 218px;
  /* 얼굴모양 만들기 */
  border-radius: 80px 80px 150px 150px;
}

/* 머리카락 */
.head::after {
  content: '';
  position: absolute;
  top: -20%;
  left: -30%;
  width: 160%;
  height: 120%;
  background: url('../images/hair_new2.png') no-repeat 0/100% 100%;
}

/* 로봇머리 하위 공통 앱솔루트 */
.head > div {
  position: absolute;
}

/* 눈공통 */
.eye {
  /* position: absolute; */
  top: 50px;
  /* 나의 부모는? .head */
  width: 50px;
  height: 50px;
  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* 원형셋팅 */
  border-radius: 50%;
}
/* 왼눈 */
.eye1 {
  /* 개별위치값 */
  left: 16%;
  /* 이미지만 변경 */
  background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eye2 {
  /* 개별위치값 */
  right: 16%;
  /* 이미지만 변경 */
  background-image: url(../images/e2.jpg);
}
/* 코 */
.nose {
  top: 92px;
  /* 가로방향 중앙이동설정
  -> left 절반밀고 자신크기절반 반대로이동 */
  left: 50%;
  translate: -50%;
  width: 50px;
  height: 60px;
  background: url(../images/nose.jpg)
    no-repeat 0/110% 100%;
  border-radius: 20px;
}
/* 입 */
.mouth {
  bottom: 8%;
  /* 가로방향 중앙이동설정
  -> left 절반밀고 자신크기절반 반대로이동 */
  left: 50%;
  translate: -50%;
  width: 90px;
  height: 40px;
  background: url(../images/mouth.png)
    no-repeat 0/100% 100%;
}
/* 귀공통 */
.ear {
  top: 80px;
  width: 50px;
  height: 80px;
}
/* 왼귀 */
.ear1 {
  /* 왼쪽바깥위치 */
  left: -50px;
  /* 왼위,아래만 둥근모서리 */
  border-radius: 20px 0 0 20px;
}
/* 오른귀 */
.ear2 {
  /*치오른쪽바깥위치 */
  right: -50px;
  /* 오른위,아래만 둥근모서리 */
  border-radius: 0 20px 20px 0;
}
/* 2-1-2. 로봇몸통 */
.body{
  /* 부모자격 렐러티브 */
  position: relative;
  width: 180px;
  height: 320px;
  /* 마영오! 가로중앙 */
  margin: 0 auto;
  margin-top: 50px;
}
/* body 가상 요소로 상체 만들기 */
.body::before, .body::after {content: ''; display: block; position: absolute;}
.body::before {top: 0; left: -10%; z-index: 1; width: 120%; height: 45%; background-color: #fff; border-radius: 15px 15px 70px 70px; background-image: linear-gradient(to bottom, #e1e1e1, #b6b6b6, #4e4e4e);}
.body::after {bottom: -10%; left: -10%; z-index: 1; width: 120%; height: 40%; background-color: #fff; border-radius: 15px 15px 50% 50%; background-image: linear-gradient(to bottom, #e1e1e1, #b6b6b6, #4e4e4e);}
/* 바디 하위요소 앱솔루트 */
.body>div{
  position: absolute;
}
/* 로봇목 */
.neck{
  top: -70px;
  left: 50%;
  translate: -50%;
  width: 50px;
  height: 80px;
  border-radius: 20px;
}
/* 팔공통 */
.arm{
  width: 50px;
  height: 180px;
  top: 35px;
}
/* 왼팔 */
.arm1{
  left: -65px;
  transform-origin: top;
}
/* 오른팔 */
.arm2{
  right: -65px;
}
/* 팔관절 */
.arm::after {
  content: '';
  position: absolute;
  left: 0;
  top: 90%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #ddd 30%, #000 100%);
}
/* 팔하단공통 */
.arm span {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 80%;
}

/* 손 공통 */
.arm span::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 80px;
  height: 110px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* 왼손 */
.arm1 span::after {
  background-image: url('../images/hand_left.png');
  left: -15px;
}
/* 오른손 */
.arm2 span::after {
  background-image: url('../images/hand_right.png');
  left: -25px;
}

/* 다리공통 */
.leg{
  top: 100%;
  width: 70px;
  height: 280px;
}
/* 왼다리 */
.leg1{
  left: 0;
}
/* 오른다리 */
.leg2{
  right: 0;
}
/* 다리 관절 공통 */
.leg::before {
  content: '';
  position: absolute;
  left: -10%;
  bottom: -10%;
  z-index: 1;
  width: 120%;
  height: 20%;
  background-image: linear-gradient(45deg, #ccc, #222);
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid #000;
}

/* 다리하단공통 */
.leg span {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 80%;
}
/* 신발 */
.leg span::before {
  content: '';
  position: absolute;
  top: 30%;
  left: -10%;
  width: 120%;
  height: 100%;
  background-image: linear-gradient(to right, #ccc, #222);
  border: 3px solid #111;
  border-top-width: 15px;
  box-sizing: border-box;
}
.leg span::after {
  content: '';
  position: absolute;
  top: 100%;
  left: -35%;
  width: 160%;
  height: 30%;
  background-image: linear-gradient(to right, #ccc, #222);
  border: 3px solid #111;
  border-bottom-width: 10px;
  border-radius: 50% 50% 10% 10%;
}
  
/* 어깨공통 */
.shdr{
  width: 70px;
  height: 70px;
}
/* 왼어깨 */
.shdr1{
  left: -77px;
  border-radius: 50% 0 0 50%;
}
/* 오른어깨 */
.shdr2{
  right: -77px;
  border-radius: 0 50% 50% 0;
}

/* TV박스 */
.tv {
  /* absolute 정중앙 세팅*/
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  /* transform에서의 translate는 현재 위치에서의 위치이동, %단위는 자신의 크기를 기준함*/
  width: 150px;
  height: 120px;
  z-index: 2;
  background: url('../images/tv.jpg') no-repeat 0/100% 100%;
}

/* tv screen */
.screen {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 104px;
  height: 84px;
  background-color: red;
  border-radius: 5px;
  overflow: hidden;
}

.screen iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* tv 컨트롤 버튼 */
.btns {
  position: absolute;
  right: 7px;
  bottom: 18px;
  display: flex;
  flex-direction: column;
}

/* 버튼요소 */
.btns button {
  padding: 0;
  width: 25px;
  height: 16px;
  font-size: 9px;
  background-color: #fff;
  margin: 0;
  border: 1px solid #ddd;
  line-height: 1;
}

.btns button:not(:last-child) {
  border-bottom: none;
}
/* 2-2. 설명박스 */
.text-box {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 30px;
  color: #fff;
  background-color: #00000070;
  border-radius: 20px;
  box-shadow: inset 0 0 20px blue, 0 0 50px 10px cyan;
  backdrop-filter: blur(6px);

  /* 
  [백드롭 필터효과] 
  - filter속성과 동일한 셋팅을 가지며
  적용대상이 겹쳐지는 하단의 그래픽을 변경한다!

  backdrop-filter: blur(2px); -> 흐림
  backdrop-filter: brightness(60%); -> 밝기
  backdrop-filter: contrast(40%); -> 대비
  backdrop-filter: drop-shadow(4px 4px 10px blue);->그림자
  backdrop-filter: grayscale(30%);-> 흑백
  backdrop-filter: hue-rotate(120deg); -> 색상변경
  backdrop-filter: invert(70%); -> 반전색
  backdrop-filter: opacity(20%); -> 투명도
  backdrop-filter: sepia(90%); -> 세피아효과
  backdrop-filter: saturate(80%); -> 채도

  -> 복합적용 가능!
  backdrop-filter: blur(4px) saturate(150%);
  */
}
.text-box h2 {
  position: sticky;
  top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 60px;
  font-size: 60px;
  text-align: center;
  color: #ffbed3;
  font-weight: 900;
  font-family: 'Chakra Petch', sans-serif;
  background-color: #ffffff50;
  text-shadow: 1px 1px 2px rgb(255, 67, 99);
}

.text-box small {
  display: block;
  margin: 20px 0;
  text-align: center;
  font-size: 15px;
  color: cyan;
}
.text-box p {
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: -1px;
}

/************* 3. 하단영역 *************/
/* 3-1. 회사정보 */
#bottom-area{
  position: relative;
  /* z-index적용위해 포지션줌! */
  z-index: 5;

  margin-top: 100px;

  color: #fff;
  /* 글자크기 : 30px, 글자체 'Black Ops One' */
  font: 3rem 'Black Ops One';
  /* 글자그림자 */
  text-shadow: 2px 2px 2px #000;
  /* 글자중앙 */
  text-align: center;
  /* 패딩 : 가로/세로중 작은 화면기준 7%
  -> vmin(작은쪽기준) , vmax(큰쪽기준) */
  padding: 7vmin;
  /* 반투명 배경넣기 : 검은색 반투명(0.5) 
    rgb(0 0 0 / 0.5) -> 요즘 더 많이사용함
    rgba(0,0,0,0.5)
  */
  background-color: rgb(0 0 0 / 0.5);

}
