// variables
// (1) color
$mainColor1: #a31212;
$mainColor1-2: #e28c2a;
$mainColor2: #204ffc;
$mainColor2-2: #b0ddf2;

// (2) color name
$orgRed: red;
$orgAqua: aqua;

// (3) font-size
$fontSize1: 40px;
$fontSize2: 35px;
$fontSize3: 30px;
