// variables
// (1) color
$mainColor1: #a31212;
$mainColor1-2: #e28c2a;
$mainColor2: #204ffc;
$mainColor2-2: #b0ddf2;

// (2) color name
$orgRed: red;
$orgAqua: aqua;

// (3) font-size
$fontSize1: 40px;
$fontSize2: 35px;
$fontSize3: 30px;

// (4) scss 객체 변수
$colors: (
    color1: blue,
    color2: red,
    color3: green,
    color4: purple,
)
// 객체 변수 사용법
// 변수: (속성:값, 속성:값)
